.focusanimation:active {
      transform: translate(0px, 5px);
      -webkit-transform: translate(0px, 5px);
      box-shadow: 0px 1px 0px 0px;
      border-radius: 20px;
}


.animationbutton {

      background-color: #ffffff;
      box-shadow: 3px 5px 5px #ffffff;
      border-radius: 20px;
      transition: all 1s ease;
      transform: scale(1);
}

.animationbutton:hover {
      background-color: #ffffff;
      /*  Making button bigger on hover  */
      transform: scale(1.2) perspective(1px)
}