body {
      background-color: #EDEDED;
      font-family: 'Abril Fatface', cursive;
      font-family: 'Roboto', sans-serif;
      font-family: 'Roboto Slab', serif;
}

.buttonwhitehome {
      border-radius: 14px;
      width: 36vw;
      height: 36vw;
      margin: 14px;
}


.textlowbutton {
      font-size: 3.5vw;
}

.titlebigblack {
      color: #1F2633;
      background-color: #1F2633;
      font-size: 6vw;

}

.titlebiggold {

      color: #1F2633;
      background-color: #D1A250;
      font-size: 6vw;
}