/* *General* */
body {
      font-family: 'Abril Fatface', cursive;
      font-family: 'Montserrat', sans-serif;
      font-family: 'Poppins', sans-serif;
      font-family: 'Roboto', sans-serif;
      background-color: #f0ebe5;
      background-image: url(../image/body.svg);
      background-size: cover;

}

html {
      scroll-behavior: smooth;
}




/*Mediaqueries*/

@media (min-width: 1024px) {

      #buttonsmobile {
            visibility: hidden;

      }
}

@media (max-width: 410px) {

      body {

            background-image: url(../image/body1.svg);
            background-size: cover;
      }

      .hero {
            background-image: url(../image/heromob.svg);
            background-size: cover;
      }

      .footer {

            position: fixed;
            bottom: 0;
            z-index: 10000;

      }
}

/*backgrounds*/


.hero h1 {

      font-size: 4vw;
      line-height: 0vw;
}

.hero h2 {

      font-size: 6vw;
      line-height: 4vw;
}

.hero p {
      line-height: 0vw;
      margin-top: 2vw;
      font-size: 3vw;
      color: cadetblue;
}

.aboutme {

      background-size: cover;
      padding: 5%;

}




.aboutme h1 {
      font-weight: 700;
      font-size: 55px;
      color: #655841;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      justify-content: center;
}




.aboutme h2 {
      color: cadetblue;
      font-family: 'Raleway', sans-serif;
      font-size: 40px;
      line-height: 35px;

}

.aboutme h3 {
      font-weight: 200;
      color: cadetblue;
      font-family: 'Poppins', sans-serif;
      text-decoration: underline;

}

.aboutme p {
      font-weight: 200;
      color: #695a4e;
      font-family: 'Raleway', sans-serif;

}

.aboutme td {
      font-weight: 200;
      color: #655841;
      font-family: 'Raleway', sans-serif;

}



.experience {
      background-image: url(../image/about.svg);
      background-size: cover;

}

.experience h1 {
      font-weight: 700;
      font-size: 60px;
      color: #655841;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      width: 100%;
      padding: 0;
      margin: 0;
      padding-bottom: 5%;
      padding-top: 5%;
}

.experience h2 {
      font-weight: 500;
      color: #655841;
      font-family: 'Poppins', sans-serif;
      text-align: center;



}

.experience h3 {
      font-weight: 100;
      font-size: medium;
      color: #655841;
      font-family: 'Poppins', sans-serif;
      text-align: center;


}

.experience h4 {
      font-size: 1vw;
      font-weight: 400;
      color: #655841;
      font-family: 'Poppins', sans-serif;
      text-align: center;


}

.experience p {
      font-weight: 200;
      color: #a59589;
      font-family: 'Raleway', sans-serif;
      text-align: center;


}

.experience ul {
      font-weight: 200;
      color: #a59589;
      font-family: 'Raleway', sans-serif;
      text-align: center;


}


.education {
      background-image: url(../image/education.svg);
      background-size: cover;

}


.education h1 {
      font-weight: 700;
      font-size: 40px;
      color: #655841;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      width: 100%;
      height: 200px;
      padding: 0;
      margin: 0;
      padding-bottom: 5%;
      padding-top: 5%;
}

.education h2 {
      font-size: 20px;
      font-weight: 700;
      color: #695a4e;
      font-family: 'Poppins', sans-serif;
      text-align: left;
}

.education li {
      font-size: 16px;
      font-weight: 200;
      color: #695a4e;
      font-family: 'Raleway', sans-serif;
      text-align: left;
}

.education p {
      font-size: 16px;
      font-weight: 200;
      color: #695a4e;
      font-family: 'Raleway', sans-serif;
      text-align: left;
}

.education figcaption {
      font-size: 16px;
      font-weight: 200;
      color: #695a4e;
      font-family: 'Poppins', sans-serif;
      text-align: left;
}

.contact h1 {
      font-weight: 700;
      font-size: 40px;
      color: #655841;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      width: 100%;
      height: 200px;
      padding: 0;
      margin: 0;
      padding-bottom: 5%;
      padding-top: 5%;
}

.contact h2 {
      font-size: 20px;
      font-weight: 700;
      color: #695a4e;
      font-family: 'Poppins', sans-serif;
      text-align: left;
}


.contact h5 {
      font-size: 20px;
      font-weight: 700;
      color: #695a4e;
      font-family: 'Poppins', sans-serif;
      text-align: left;
}

.contact li {
      font-size: 16px;
      font-weight: 200;
      color: #695a4e;
      font-family: 'Raleway', sans-serif;
      text-align: left;
}

.contact p {
      font-size: 16px;
      font-weight: 200;
      color: #695a4e;
      font-family: 'Raleway', sans-serif;
      text-align: left;
}

.footer a {

      color: antiquewhite
}

.footer a:hover {

      color: aquamarine;
}


/*special*/

.accordion {
      /*Shadow accordion*/
      border: #ece2de;
      border-width: 2pt;
      margin: 20px;
      -webkit-box-shadow: 8px 8px 4px #bb9484;
      -moz-box-shadow: 8px 8px 4px #bb9484;
      -o-box-shadow: 8px 4px 8px #bb9484;
      inset: 10px 8px #bca49a;
      box-shadow: 8px 5px 5px #bb9484;
      inset: 10px 8px #bca49a;

}

.accordiontop {
      background-color: #f0eae1;
}

.accordiontop:hover {
      background-color: #f0eae1;
}


.accordionbottom {
      background-color: #f0eae1;
      border-radius: 0 0 30px 30px;
      box-shadow:
            8px 5px 5px #bb9484;
      inset: 10px 8px #bca49a;
}



.resumeBtn {
      letter-spacing: 1px;
      font-size: 12px;
      font-family: roboto
}

.whitetextContainer {
      color: #CECECE;
      font-size: 10px;

}


.buttonwhitehome {
      -webkit-box-shadow: 0 0 5px #b18a79;
      box-shadow: 0 0 2px #caab9c;
      border-radius: 14px;
      width: 36vw;
      height: 36vw;
      margin: 14px;
      opacity: 0.8;
}

.textlowbutton {
      font-size: 1em;
      font-family: montserrat;
}

.textbig {

      font-family: montserrat;

}


.buttonexperiencewhite {
      background-color: #e2d8c8;
      border-radius: 0 0 37px 37px;
      border-radius: 20px;
      height: 280px;
      width: 250px;
      -webkit-box-shadow:
            8px 8px 4px #bb9484;
      -moz-box-shadow:
            8px 8px 4px #bb9484;
      -o-box-shadow:
            8px 4px 8px #bb9484;
      inset: 10px 8px #bca49a;
      box-shadow:
            8px 5px 5px #bb9484;
      inset: 10px 8px #bca49a;

}