/* *Generales* */


body {
      font-family: 'Abril Fatface', cursive;
      font-family: 'Roboto', sans-serif;
      font-family: 'Roboto Slab', serif;
}

.bodygradient {
      -moz-box-shadow: inset 0 0 10px #000000;
      -webkit-box-shadow: inset 0 0 18px #b18a79;
      box-shadow: inset 0 0 18px #b18a79;
      padding-bottom: 150px;
}

.bodygradient {
      background: #FFF4EB;
}

.navNeo {
      background-color: #FFF4EB;
      -moz-box-shadow: inset 0 0 18px #000000;
      -webkit-box-shadow: 0 0 5px #b18a79;
      box-shadow: 0 0 5px #caab9c;
      border-radius: 0px 0px 27px 27px;
}

.fullW {
      display: table;
      width: 100%;
      background-image: url(../image/graphics2_animated.SVG);
      height: 30vw;
      padding-top: 40px;

}


.flo-left,
.flo-right {
      padding-top: 10px;
      display: table-cell;
      width: 50%;
}

.flo-left {
      font-family: 'Abril Fatface', cursive;
      letter-spacing: 2px;
      line-height: 5vw;
      padding-left: 40px;
}

.flo-right {

      background-image: url(../image/Untitled-2.png);
      background-size: contain;
      background-repeat: no-repeat;
      height: 30vw;
      padding-bottom: 150px;



}

.skills {

      background-color: #FFF4EB;
      -webkit-box-shadow:
            8px 8px 4px #ffffff;
      -moz-box-shadow:
            8px 8px 4px #ffffff;
      -o-box-shadow:
            8px 4px 8px #bca49a;
      inset 0 0 8px #bca49a;
      box-shadow:
            8px 5px 5px #bca49a,
            inset 0 0 8px #bca49a;
      border-radius: 0 0 37px 37px;
      height: 70px;
      width: 100%;
      display: block;

}

.containerTitle {}

.resumeBtn {
      letter-spacing: 1px;
      font-size: 12px;
      font-family: roboto
}

.whitetextContainer {
      color: #CECECE;
      font-size: 10px;

}

/*buttons*/

.buttonArea {
      background: #1F2633;

}

.buttonexperiencewhite {
      background-color: #FFFFFF;
      border-radius: 20px;
      height: 175px;
      width: 150px;
      padding: 10px;

}

.buttonexperienceyellow {
      background-color: #FFEBCA;
      border-radius: 20px;
      height: 150px;
      width: 130px;

}

/*Experience*/

.graphicSvg2 {
      background-image: url(../image/graphics2_animated.svg);

}

.titleinsideblue {
      text-align: right;
      color: #CECECE;
      font-size: 20px;

}

.textTitleWork {
      font-size: 5vw;
      text-align: left;
      vertical-align: bottom;
      font-weight: 100;
      color: white;
      width: 40%;
      float: right;
      padding-top: 10vw;


}

.titleExperience {
      font-size: 13px;
      font-weight: 500;
      width: 60%;
      float: left;
      color: #D1A250;

}

.imageExperience {
      width: 30%;
      float: right;
      padding-right: 10%;
      display: inline-block;

}


.listaWork {
      font-size: 13px;
      width: 100%;
      display: inline-block;
}

.titleEducation {
      font-size: 3vw;
      text-align: left;
      color: #D1A250;
      font-weight: 400;
      width: 100%;
}

.footer {
      -webkit-box-shadow: 0 0 5px #b18a79;
      box-shadow: 0 0 2px #caab9c;
      background-color: #FFF4EB;
      font-family: ROBOTO;
}